@charset "UTF-8";
/* Clearfix ensures that a container element clears all of its children, including floated ones. */
/* Allow us to include nested media queries */
/* brand-defined colours */
/* 5(0) shades of grey */
/* New class categories */
/* generic colours */
/* black isn't really black, it's really really dark grey - this allows photos to look darker than brand colours */
* {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  font-size: calc(112.5% + 0.5vw);
  font-family: 'Abel Pro', Helvetica, Arial, sans-serif; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  color: black; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
[role="button"]:focus,
button:focus,
a:focus,
span:focus {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: black; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid grey;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*:before,
*:after {
  box-sizing: inherit; }

/* Remove the ability to select text */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* generic print styles */
@media print {
  @page {
    margin: 2cm; }
  body {
    -webkit-print-color-adjust: exact; }
  ul,
  img {
    page-break-inside: avoid; } }

.page {
  background-color: #ffffff;
  margin: 0;
  font-size: 1.5vw; }

.page__index-content {
  display: block;
  width: 100vw;
  height: 100vh; }

.page__home-content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-gap: 0;
  background-color: #293033;
  overflow: hidden; }

.page__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-gap: 0;
  background-color: #293033;
  overflow: hidden; }

.page__home-info,
.page__back {
  text-align: right;
  background-color: #ffffff;
  height: 100vh;
  padding: 3vw; }

.page__back {
  display: flex; }

.page__home-menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.page__pt-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25vw 65vw; }

.page__class-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 90vw; }

.page__premium {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 65vw 25vw;
  background-color: #2F1681; }

#background {
  background: url(../../images/background.png) repeat 5% 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

#midground {
  background: url(../../images/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

#foreground {
  background: url(../../images/foreground.png) repeat 90% 110%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

.video {
  top: 0;
  display: block;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .video--inline {
    height: 500px; }

.video__holder,
.video__iframe {
  position: absolute;
  display: block;
  z-index: 1;
  height: 100%;
  width: 100%; }
  @media (min-width: 768px) {
    .video__holder,
    .video__iframe {
      height: 100%;
      width: 110%;
      left: -5%;
      top: 0;
      pointer-events: none; } }

.video--inline .video__iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: all; }

.video__content {
  background-color: rgba(12, 12, 12, 0.5);
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: left; }

.nav-button {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  width: 42vw;
  grid-template-columns: repeat(4, 8vw);
  grid-template-rows: repeat(4, 8vw);
  grid-gap: 2.5vw;
  z-index: 3; }
  .nav-button--classes {
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(2, 8vw); }

.nav-button__item {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  text-align: left; }

.nav-button__link {
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 1;
  padding: 1.5vw;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #17c0dc;
  color: #FFF;
  text-decoration: none;
  box-shadow: 0.6vw 0.6vw 0px 0px #0d88a0; }
  .nav-button__link:hover {
    background-color: #5dd3e6; }
  .nav-button__link:active {
    background-color: #ffd100;
    color: #212121;
    box-shadow: 0.6vw 0.6vw 0px 0px #d85300; }
  @media (min-width: 1200px) {
    .nav-button__link {
      font-size: 3vw; } }

.button {
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  padding: .5vw;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #17c0dc;
  color: #FFF;
  border: 0;
  text-decoration: none;
  box-shadow: 0.4vw 0.4vw 0px 0px #0d88a0; }
  .button:hover {
    background-color: #00779b; }
  .button:active {
    background-color: #ffd100;
    color: #212121;
    box-shadow: 0.4vw 0.4vw 0px 0px #d85300; }
  @media (min-width: 1200px) {
    .button {
      font-size: 1em; } }
  .button--inline {
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: none; }

.text {
  font-size: 2vw;
  line-height: 1.3; }

.text--small {
  font-size: 1.3vw;
  margin: 0 0 2vw 0; }

.text--x-small {
  font-size: 1.1vw;
  margin: 0 0 2vw 0; }

.text--large {
  display: inline-block;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0; }

.text--very-large {
  display: block;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 8vw;
  line-height: 1;
  margin: 0; }

.text--header {
  display: block;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1;
  margin: 0 0 1vw 0;
  font-weight: 300; }

.text--small-header {
  display: block;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1;
  margin: 0 0 .5vw 0;
  font-weight: 300; }

.text--left {
  text-align: left; }

.text--2col {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }

.text--3col {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3; }

.text--temporary {
  margin: 30px;
  font-size: 2rem;
  color: #FFF;
  text-align: center; }

.text--center {
  text-align: center; }

.list {
  position: relative;
  color: #212121;
  margin: 0 0 20px 0;
  font-size: 1vw;
  line-height: 1.2;
  list-style-type: none;
  padding-left: 25px; }
  .list--inverted {
    color: white; }
  .list--disc {
    list-style-type: disc; }
  .list--ordered {
    list-style-type: decimal; }
  .list--numbered {
    padding-left: 1.7em;
    list-style-type: none;
    text-align: left;
    line-height: 1.6; }
  .list--padding-none, .list--definition, .list--pure-loser {
    padding-left: 0; }

.list__item {
  position: relative;
  margin: 0 0 .3vw 0;
  line-height: 1.2; }

.list--bullet .list__item:before {
  position: absolute;
  left: -20px;
  content: "• ";
  color: #0089a2;
  font-size: 2em;
  line-height: .7; }

.list--inverted-bullet .list__item:before {
  position: absolute;
  left: -20px;
  content: "• ";
  color: #ffffff;
  font-size: 2em;
  line-height: .7; }

.list--check .list__item:before {
  position: absolute;
  left: -20px;
  content: '\2714';
  font-family: "pureicon";
  width: 20px;
  font-size: 1.1em;
  line-height: 1.1;
  color: #49b9bc; }

.list__title {
  font-size: 1vw;
  margin-bottom: 1px;
  color: #727272; }
  .list__title:after {
    content: ": "; }
  @media (min-width: 768px) {
    .list__title--inline {
      float: left;
      clear: left;
      width: 25%;
      margin-top: 2px; } }
  .list__title--opening-hours {
    float: left;
    clear: left;
    width: 55%; }
  .list__title--inverted {
    color: #ffffff; }
  .list__title--classes {
    display: inline;
    color: #ffffff; }

.list__desc {
  margin: 0;
  opacity: 1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  transition: max-height 0.4s, opacity 0.2s linear;
  border-bottom: 1px solid #E0E0E0; }
  .list__desc--closed {
    opacity: 0;
    max-height: 0;
    overflow: hidden; }
  .list__desc--staff {
    font-size: 1vw; }
  .list__desc--inverted {
    color: #ffffff;
    border-bottom: 1px dashed #7d7d7d; }
  .list__desc--classes {
    display: inline;
    color: #ffffff; }
  .list__desc--last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

.text-content {
  font-size: .9vw;
  margin-bottom: 1.2vw; }
  .text-content--2col {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }

.text-content p {
  margin-top: 0;
  margin-bottom: 1.2vw; }

.gym-trainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2vw;
  z-index: 8;
  width: 65vw;
  height: 50vw;
  flex-wrap: wrap;
  font-size: .9vw; }

.gym-trainer__item {
  width: 24%;
  margin-right: 1%;
  padding: 1.2vw;
  background-color: white;
  box-shadow: 0px 10px 10px -10px #000;
  margin-bottom: 1vw;
  text-align: center;
  border: 0; }
  .gym-trainer__item--team {
    width: 32%;
    text-align: left; }

.gym-trainer__content {
  margin: 0 0 10px 0;
  padding: 0; }

.gym-trainer__portrait {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 70%;
  height: auto;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto 10px auto; }

.gym-trainer__item--team .gym-trainer__portrait {
  width: 50%; }

.gym-trainer__name {
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase; }

.gym-trainer__item--team .gym-trainer__name {
  font-size: 1.4vw; }

.gym-trainer__phone,
.gym-trainer__email {
  margin-bottom: 10px; }

.gym-trainer__email {
  display: none; }

.class-list {
  display: flex;
  justify-content: flex-start;
  padding: 2vw;
  margin: 0;
  z-index: 8;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1vw;
  list-style-type: none; }

.class-list__item {
  display: block;
  position: relative;
  width: 13%;
  margin-right: 1%;
  margin-bottom: 24px; }

.info-box {
  background-color: #0000004a;
  padding: 3vw;
  color: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.session-tile {
  background-color: white;
  box-shadow: 0px 20px 30px -10px #000;
  padding: 0;
  border: 0; }

.session-tile__figure {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%; }

.session-tile__title {
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  margin: 10px 1.2vw;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-weight: 400; }

.session-tile__image-holder {
  position: relative;
  display: block;
  overflow: hidden;
  height: 190px; }

.session-tile__image {
  position: relative;
  display: block;
  height: auto;
  width: 100%; }

.session-tile__cta {
  padding: 1.2vw;
  display: block;
  position: relative;
  min-height: 2vw; }

.session-tile__category {
  width: 100%;
  margin: 0;
  padding: 5px 1.2vw;
  line-height: 1;
  font-size: .8vw;
  background-color: #212121;
  text-transform: uppercase; }

.session-icons {
  position: absolute;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  width: 100%; }
  .session-icons--small {
    top: -26px;
    min-height: 76px;
    left: 0; }

.session-icons__icon {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 10px;
  flex-grow: 0;
  width: 33%; }

.session-icons__title {
  width: 100%;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 0.6vw;
  margin: 0;
  padding-top: 3px; }

.session-icons__roundel {
  display: flex;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  width: 36px;
  height: 36px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; }

.session-icons__svg {
  display: block;
  position: relative;
  width: 20px;
  height: 20px; }

.session-override--sculpt-tone .session-icons__svg {
  fill: #1a4b72; }

.session-override--sculpt-tone .session-category,
.session-override--sculpt-tone .session-specs {
  color: #ffffff; }

.session-override--sculpt-tone .page__content--override .heading,
.session-override--sculpt-tone .session-category__title {
  color: #00D5DA; }

.session-override--sculpt-tone .page__content--map {
  background-color: #b9cbdb;
  background-blend-mode: luminosity; }

.session-override--sculpt-tone .session-icons__title,
.session-override--sculpt-tone .heading--override {
  color: #1a4b72; }

.session-override--sculpt-tone .session-tile__category {
  background-color: #1a4b72;
  color: #ffffff; }

.session-override--mind-body .session-icons__svg {
  fill: #9bcdc9; }

.session-override--mind-body .session-category,
.session-override--mind-body .session-specs {
  color: #ffffff; }

.session-override--mind-body .session-category__title,
.session-override--mind-body .page__content--override .heading {
  color: #e4feff; }

.session-override--mind-body .page__content--map {
  background-color: #8fbfbd;
  background-blend-mode: hard-light; }

.session-override--mind-body .session-icons__title,
.session-override--mind-body .heading--override {
  color: #9bcdc9; }

.session-override--mind-body .session-tile__image-holder::before {
  background: linear-gradient(to bottom, rgba(155, 205, 201, 0), rgba(155, 205, 201, 0.3) 75%); }

.session-override--mind-body .session-category__cta {
  border: 1px solid #ffffff; }

.session-override--mind-body .session-tile__category {
  background-color: #9bcdc9;
  color: #ffffff; }

.session-override--cardio .session-icons__svg {
  fill: #f1605a; }

.session-override--cardio .session-category,
.session-override--cardio .session-specs {
  color: #212121; }

.session-override--cardio .session-specs__item {
  border-color: #de1b1b; }

.session-override--cardio .page__content--override .heading {
  color: #212121; }

.session-override--cardio .page__content--map {
  background-color: #e2c4c1;
  background-blend-mode: color-burn; }

.session-override--cardio .session-icons__title,
.session-override--cardio .heading--override {
  color: #f1605a; }

.session-override--cardio .session-tile__image-holder::before {
  background: linear-gradient(to bottom, rgba(241, 96, 90, 0), rgba(241, 96, 90, 0.3) 75%); }

.session-override--cardio .modal-close:after {
  color: #212121; }

.session-override--cardio .session-tile__category {
  background-color: #f1605a;
  color: #ffffff; }

.session-override--functional .session-icons__svg {
  fill: #0d0d0d; }

.session-override--functional .session-category,
.session-override--functional .session-specs {
  color: #ffffff; }

.session-override--functional .session-specs__item {
  border-color: #989898; }

.session-override--functional .page__content--override .heading {
  color: #ffffff; }

.session-override--functional .page__content--map {
  background-color: #646464;
  background-blend-mode: color-burn; }

.session-override--functional .session-icons__title,
.session-override--functional .heading--override {
  color: #0d0d0d; }

.session-override--functional .session-tile__image-holder::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 75%); }

.session-override--functional .session-category__cta {
  border: 1px solid #ffffff; }

@media (min-width: 475px) {
  .session-override--functional .modal-close:after {
    color: #ffffff; } }

.session-override--functional .session-tile__category {
  background-color: #212121;
  color: #ffffff; }

.row {
  margin: 0 -10px; }

.equal-height {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  line-height: 1.6; }

.equal-height__cell {
  /* boxes used on the PT profile page to show qualifications */
  border-top: 2px solid #0089a2;
  text-align: left;
  padding-top: .6vw;
  margin: .6vw .6vw 0 .6vw;
  box-shadow: 0 0 0 0;
  background-color: white; }
  @media (min-width: 768px) {
    .equal-height__cell {
      flex: 1; }
      .equal-height__cell .heading {
        padding: 0; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .equal-height__cell {
      min-height: 120px;
      /* included to fix height in IE */ } }

.equal-height__heading {
  flex: 1; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .equal-height__heading {
      min-height: 50px;
      /*included to fix height in IE */ } }

.equal-height__content,
.equal-height__text {
  flex-grow: 1;
  padding: 0;
  margin: 0 0 10px 0; }
  @media (min-width: 768px) {
    .equal-height__content,
    .equal-height__text {
      margin: 0 0 20px 0; } }

.equal-height__fixed-bottom {
  width: 100%; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .equal-height__fixed-bottom {
      min-height: 60px;
      /* included to fix height in IE */ } }

.news-item {
  border-left: 3px solid #dedede;
  padding-left: 1.2vw; }

.premium {
  display: block;
  width: 65vw;
  padding: 2vw; }

.premium__packages {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }

.premium__package {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 32%;
  font-size: 1.1vw;
  margin-top: 6vw;
  padding-top: 4vw; }

.premium__roundel {
  position: absolute;
  top: -8vw; }

.premium__para {
  margin: .5vw 1.5vw;
  flex-grow: 1; }

.qualifications__title {
  display: block;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  color: #0089a2;
  text-transform: uppercase;
  font-size: 1vw;
  line-height: 1;
  margin: 0 0 .5vw 0;
  font-weight: 300; }

.qualifications__list {
  position: relative;
  color: #212121;
  margin: 0;
  font-size: .9vw;
  line-height: 1.2;
  list-style-type: none;
  padding-left: 10px; }

.qualifications__list-item {
  margin-bottom: 3px; }
  .qualifications__list-item:before {
    position: absolute;
    left: -4px;
    content: "• ";
    color: #0089a2;
    font-size: 1vw;
    line-height: 1; }

.calendar {
  width: 100%;
  margin-bottom: 10px; }
  .calendar:before, .calendar:after {
    content: " ";
    display: table; }
  .calendar:after {
    clear: both; }
  @media (min-width: 768px) {
    .calendar {
      margin-bottom: 20px; } }
  .calendar--grid {
    display: flex; }
  .calendar--booked {
    padding-left: 10px;
    padding-right: 10px; }

.calendar-card {
  pointer-events: none;
  position: relative;
  display: block;
  padding: 10px 100px 10px 25px;
  cursor: pointer;
  color: #212121;
  text-decoration: none;
  text-align: left;
  background-color: #fff;
  transition: background-color .3s;
  border-top: 0;
  border-bottom: 1px solid #B6B6B6;
  border-left: 1px solid #B6B6B6;
  border-right: 1px solid #B6B6B6;
  width: 100%;
  z-index: 1;
  font-size: 1vw; }
  .calendar-card:before, .calendar-card:after {
    content: " ";
    display: table; }
  .calendar-card:after {
    clear: both; }
  .calendar-card:focus {
    z-index: 100;
    outline-offset: 0; }
  .calendar-card--unavailable {
    background-color: #fff;
    color: #727272; }
    .calendar-card--unavailable:before {
      display: none; }
    .calendar-card--unavailable .calendar-card__status {
      color: #212121; }
  .calendar-card--logged-out {
    color: #727272; }
  .calendar-card--static {
    cursor: auto; }
    .calendar-card--static:active {
      background-color: #F2F2F2; }
    .calendar-card--static:before {
      display: none; }
  .calendar-card--waiting-list {
    background-color: #b0b0b0;
    color: #181c1e; }
    .calendar-card--waiting-list:before {
      color: #0089a2; }
  .calendar-card--preview {
    border: 1px solid #c7c7c7; }
  .calendar-card--cancelled {
    background-color: #d43047;
    cursor: default;
    color: #ffffff; }
    .calendar-card--cancelled .calendar-card__time,
    .calendar-card--cancelled .calendar-card__date {
      color: #ffffff; }
  .calendar-card--head {
    display: none; }
  .calendar-card--booked {
    background-color: #0089a2;
    color: #ffffff; }
    .calendar-card--booked .calendar-card__time {
      color: #ffffff; }
    .calendar-card--booked:hover {
      background-color: #2e373b; }
    .calendar-card--booked:active {
      background-color: #272f32; }
    @media (min-width: 992px) {
      .calendar-card--booked:hover .calendar-card__class {
        color: #212121; } }
  .calendar-card--summary {
    padding: 10px 10px 10px 25px; }

.calendar-card__overlay,
.calendar-card:active .calendar-card__overlay {
  display: none; }

.calendar-card--head {
  background-color: #004e51;
  color: #ffffff;
  cursor: default;
  font-weight: 700;
  font-size: .8rem; }

.calendar-card__class {
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: .9rem;
  margin-top: 0;
  margin-bottom: 3px;
  z-index: 100; }

.calendar-card__time,
.calendar-card__duration {
  font-weight: 500;
  color: #0089a2;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 2px;
  width: auto;
  border: 0;
  padding: 0;
  height: 100%;
  text-align: center; }

.calendar-card--booked .calendar-card__time,
.calendar-card--booked .calendar-card__duration {
  color: #ffffff; }

.calendar-card--unavailable .calendar-card__time,
.calendar-card--unavailable .calendar-card__duration {
  color: #B6B6B6; }

.calendar-card__class,
.calendar-card__date,
.calendar-card__gym,
.calendar-card__instructor,
.calendar-card__location,
.calendar-card__status,
.calendar-card__waiting-list {
  margin-left: 0;
  margin-bottom: 2px;
  font-style: normal;
  line-height: 1; }

.calendar-card__location {
  position: relative;
  display: block; }

.calendar-card__instructor {
  position: relative;
  display: inline-block; }

.calendar-card__duration {
  margin-left: 3px; }
  .calendar-card__duration:before {
    content: '(';
    display: inline-block; }
  .calendar-card__duration:after {
    content: ')';
    display: inline-block; }

.calendar-column .calendar-column__title {
  margin-top: 0; }

.calendar-card__status {
  display: none; }

.calendar-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  position: absolute;
  padding: 2px 10px;
  top: 0;
  right: 0;
  margin: 0;
  white-space: nowrap;
  font-weight: 400; }
  .calendar-card__text--limited {
    color: #d43047; }
  .calendar-card__text--course {
    background-color: #212121;
    color: #ffffff; }
  .calendar-card__text--booked, .calendar-card__text--on-waiting-list {
    background-color: #0089a2;
    color: #ffffff; }
    .calendar-card__text--booked::before, .calendar-card__text--on-waiting-list::before {
      content: '\2714';
      font-family: "pureicon";
      font-weight: 400;
      margin-right: 5px;
      display: inline;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1; }

.calendar-card--summary {
  padding: 0 0 10px 15px; }
  .calendar-card--summary .calendar-card__class,
  .calendar-card--summary .calendar-card__time,
  .calendar-card--summary .calendar-card__gym,
  .calendar-card--summary .calendar-card__location {
    padding-left: 10px; }
  .calendar-card--summary .calendar-card__location {
    display: inline-block; }
    .calendar-card--summary .calendar-card__location:after {
      display: inline-block;
      content: "-";
      padding-left: 5px; }

.calendar-card__date {
  width: 100%;
  font-weight: 700;
  padding: 0;
  margin-bottom: 5px; }

@media (min-width: 992px) {
  .calendar--grid .calendar-card {
    display: block;
    padding: 15px 5px 5px 5px;
    min-height: 100px;
    text-align: center;
    overflow-x: hidden; }
    .calendar--grid .calendar-card:before {
      display: none; }
    .calendar--grid .calendar-card--cardio .calendar-card__class, .calendar--grid .calendar-card--learnthebasics .calendar-card__class, .calendar--grid .calendar-card--sculpttone .calendar-card__class, .calendar--grid .calendar-card--mindbody .calendar-card__class, .calendar--grid .calendar-card--functional .calendar-card__class, .calendar--grid .calendar-card--unavailable .calendar-card__class {
      padding-bottom: 3px; }
  .calendar--grid .calendar-card--booked:hover .calendar-card__class {
    color: #ffffff; }
  .calendar--grid .calendar-card:before {
    display: none; }
  .calendar--grid .calendar-card__class {
    position: relative;
    margin-top: 0;
    margin-left: auto;
    font-size: 1.1vw; }
  .calendar--grid .calendar-card__time {
    position: relative;
    width: auto;
    border-right: none;
    display: inline-block;
    padding: 0;
    height: auto; }
  .calendar--grid .calendar-card__duration {
    position: relative;
    width: auto;
    border-right: none;
    display: inline-block;
    margin-top: 5px;
    margin-left: 3px; }
  .calendar--grid .calendar-card__instructor {
    display: block;
    margin-left: auto;
    position: relative;
    margin-top: 3px;
    z-index: 100; }
  .calendar--grid .calendar-card__location {
    display: none; }
  .calendar--grid .calendar-card__text {
    width: 100%;
    position: relative;
    display: block;
    height: auto; } }

.calendar-column {
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0; }
  .calendar-column--hidden {
    display: none; }

.calendar-column__title {
  background-color: #0089a2;
  color: #FFF;
  margin-top: 15px;
  font-size: 1.2vw; }

.calendar-column .calendar-column__title {
  position: -webkit-sticky;
  position: sticky;
  z-index: 102;
  padding: 5px;
  top: 0; }

.calendar-column__head {
  display: none; }

/* Display for tablet and above, split into two versions, grid and list views - dictated by the containing calendar block */
@media (min-width: 992px) {
  .calendar--grid .calendar-column {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px; }
  .calendar--grid .calendar-column__title {
    margin-top: 10px; }
  .calendar--grid .calendar-column__head {
    display: none; } }

/*!
 * animsition v4.0.2
 * A simple and easy jQuery plugin for CSS animated page transitions.
 * http://blivesta.github.io/animsition
 * License : MIT
 * Author : blivesta (http://blivesta.com/)
 */
.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/**
 * overlay option
 */
.animsition-overlay-slide {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: #ffffff; }

/* loading option */
.animsition-loading,
.animsition-loading:after {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  z-index: 100; }

.animsition-loading {
  background-color: transparent;
  border-top: 20px solid rgba(23, 192, 220, 0.2);
  border-right: 20px solid rgba(23, 192, 220, 0.2);
  border-bottom: 20px solid rgba(23, 192, 220, 0.2);
  border-left: 20px solid #17c0dc;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-name: animsition-loading;
  animation-name: animsition-loading; }

@-webkit-keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out; }

@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up; }

@-webkit-keyframes fade-out-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; } }

@keyframes fade-out-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; } }

.fade-out-up {
  -webkit-animation-name: fade-out-up;
  animation-name: fade-out-up; }

@-webkit-keyframes fade-in-up-sm {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up-sm {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-up-sm {
  -webkit-animation-name: fade-in-up-sm;
  animation-name: fade-in-up-sm; }

@-webkit-keyframes fade-out-up-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

@keyframes fade-out-up-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

.fade-out-up-sm {
  -webkit-animation-name: fade-out-up-sm;
  animation-name: fade-out-up-sm; }

@-webkit-keyframes fade-in-up-lg {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up-lg {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-up-lg {
  -webkit-animation-name: fade-in-up-lg;
  animation-name: fade-in-up-lg; }

@-webkit-keyframes fade-out-up-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; } }

@keyframes fade-out-up-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; } }

.fade-out-up-lg {
  -webkit-animation-name: fade-out-up-lg;
  animation-name: fade-out-up-lg; }

@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-down {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down; }

@-webkit-keyframes fade-out-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; } }

@keyframes fade-out-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; } }

.fade-out-down {
  -webkit-animation-name: fade-out-down;
  animation-name: fade-out-down; }

@-webkit-keyframes fade-in-down-sm {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-down-sm {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-down-sm {
  -webkit-animation-name: fade-in-down-sm;
  animation-name: fade-in-down-sm; }

@-webkit-keyframes fade-out-down-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; } }

@keyframes fade-out-down-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; } }

.fade-out-down-sm {
  -webkit-animation-name: fade-out-down-sm;
  animation-name: fade-out-down-sm; }

@-webkit-keyframes fade-in-down-lg {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-down-lg {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-down-lg {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down; }

@-webkit-keyframes fade-out-down-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; } }

@keyframes fade-out-down-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; } }

.fade-out-down-lg {
  -webkit-animation-name: fade-out-down-lg;
  animation-name: fade-out-down-lg; }

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-left {
  -webkit-animation-name: fade-in-left;
  animation-name: fade-in-left; }

@-webkit-keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; } }

@keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; } }

.fade-out-left {
  -webkit-animation-name: fade-out-left;
  animation-name: fade-out-left; }

@-webkit-keyframes fade-in-left-sm {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left-sm {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-left-sm {
  -webkit-animation-name: fade-in-left-sm;
  animation-name: fade-in-left-sm; }

@-webkit-keyframes fade-out-left-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; } }

@keyframes fade-out-left-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; } }

.fade-out-left-sm {
  -webkit-animation-name: fade-out-left-sm;
  animation-name: fade-out-left-sm; }

@-webkit-keyframes fade-in-left-lg {
  0% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left-lg {
  0% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-left-lg {
  -webkit-animation-name: fade-in-left-lg;
  animation-name: fade-in-left-lg; }

@-webkit-keyframes fade-out-left-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; } }

@keyframes fade-out-left-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; } }

.fade-out-left-lg {
  -webkit-animation-name: fade-out-left-lg;
  animation-name: fade-out-left-lg; }

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-right {
  -webkit-animation-name: fade-in-right;
  animation-name: fade-in-right; }

@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; } }

@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; } }

.fade-out-right {
  -webkit-animation-name: fade-out-right;
  animation-name: fade-out-right; }

@-webkit-keyframes fade-in-right-sm {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right-sm {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-right-sm {
  -webkit-animation-name: fade-in-right-sm;
  animation-name: fade-in-right-sm; }

@-webkit-keyframes fade-out-right-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; } }

@keyframes fade-out-right-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; } }

.fade-out-right-sm {
  -webkit-animation-name: fade-out-right-sm;
  animation-name: fade-out-right-sm; }

@-webkit-keyframes fade-in-right-lg {
  0% {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right-lg {
  0% {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-right-lg {
  -webkit-animation-name: fade-in-right-lg;
  animation-name: fade-in-right-lg; }

@-webkit-keyframes fade-out-right-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; } }

@keyframes fade-out-right-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; } }

.fade-out-right-lg {
  -webkit-animation-name: fade-out-right-lg;
  animation-name: fade-out-right-lg; }

@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; } }

@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; } }

.rotate-in {
  -webkit-animation-name: rotate-in;
  animation-name: rotate-in; }

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; } }

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; } }

.rotate-out {
  -webkit-animation-name: rotate-out;
  animation-name: rotate-out; }

@-webkit-keyframes rotate-in-sm {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; } }

@keyframes rotate-in-sm {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; } }

.rotate-in-sm {
  -webkit-animation-name: rotate-in-sm;
  animation-name: rotate-in-sm; }

@-webkit-keyframes rotate-out-sm {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; } }

@keyframes rotate-out-sm {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; } }

.rotate-out-sm {
  -webkit-animation-name: rotate-out-sm;
  animation-name: rotate-out-sm; }

@-webkit-keyframes rotate-in-lg {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; } }

@keyframes rotate-in-lg {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; } }

.rotate-in-lg {
  -webkit-animation-name: rotate-in-lg;
  animation-name: rotate-in-lg; }

@-webkit-keyframes rotate-out-lg {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; } }

@keyframes rotate-out-lg {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    opacity: 0; } }

.rotate-out-lg {
  -webkit-animation-name: rotate-out-lg;
  animation-name: rotate-out-lg; }

@-webkit-keyframes flip-in-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; } }

@keyframes flip-in-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; } }

.flip-in-x {
  -webkit-animation-name: flip-in-x;
  animation-name: flip-in-x;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; } }

@keyframes flip-out-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; } }

.flip-out-x {
  -webkit-animation-name: flip-out-x;
  animation-name: flip-out-x;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; } }

@keyframes flip-in-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; } }

.flip-in-x-nr {
  -webkit-animation-name: flip-in-x-nr;
  animation-name: flip-in-x-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; } }

@keyframes flip-out-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; } }

.flip-out-x-nr {
  -webkit-animation-name: flip-out-x-nr;
  animation-name: flip-out-x-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; } }

@keyframes flip-in-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; } }

.flip-in-x-fr {
  -webkit-animation-name: flip-in-x-fr;
  animation-name: flip-in-x-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; } }

@keyframes flip-out-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; } }

.flip-out-x-fr {
  -webkit-animation-name: flip-out-x-fr;
  animation-name: flip-out-x-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; } }

@keyframes flip-in-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; } }

.flip-in-y {
  -webkit-animation-name: flip-in-y;
  animation-name: flip-in-y;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; } }

@keyframes flip-out-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; } }

.flip-out-y {
  -webkit-animation-name: flip-out-y;
  animation-name: flip-out-y;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; } }

@keyframes flip-in-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; } }

.flip-in-y-nr {
  -webkit-animation-name: flip-in-y-nr;
  animation-name: flip-in-y-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; } }

@keyframes flip-out-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; } }

.flip-out-y-nr {
  -webkit-animation-name: flip-out-y-nr;
  animation-name: flip-out-y-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; } }

@keyframes flip-in-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; } }

.flip-in-y-fr {
  -webkit-animation-name: flip-in-y-fr;
  animation-name: flip-in-y-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; } }

@keyframes flip-out-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; } }

.flip-out-y-fr {
  -webkit-animation-name: flip-out-y-fr;
  animation-name: flip-out-y-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
  100% {
    opacity: 1; } }

.zoom-in {
  -webkit-animation-name: zoom-in;
  animation-name: zoom-in; }

@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
  100% {
    opacity: 0; } }

.zoom-out {
  -webkit-animation-name: zoom-out;
  animation-name: zoom-out; }

@-webkit-keyframes zoom-in-sm {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes zoom-in-sm {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }
  100% {
    opacity: 1; } }

.zoom-in-sm {
  -webkit-animation-name: zoom-in-sm;
  animation-name: zoom-in-sm; }

@-webkit-keyframes zoom-out-sm {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes zoom-out-sm {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }
  100% {
    opacity: 0; } }

.zoom-out-sm {
  -webkit-animation-name: zoom-out-sm;
  animation-name: zoom-out-sm; }

@-webkit-keyframes zoom-in-lg {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes zoom-in-lg {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    opacity: 1; } }

.zoom-in-lg {
  -webkit-animation-name: zoom-in-lg;
  animation-name: zoom-in-lg; }

@-webkit-keyframes zoom-out-lg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes zoom-out-lg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    opacity: 0; } }

.zoom-out-lg {
  -webkit-animation-name: zoom-out-lg;
  animation-name: zoom-out-lg; }

@-webkit-keyframes overlay-slide-in-top {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

@keyframes overlay-slide-in-top {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

.overlay-slide-in-top {
  top: 0;
  height: 0;
  -webkit-animation-name: overlay-slide-in-top;
  animation-name: overlay-slide-in-top; }

@-webkit-keyframes overlay-slide-out-top {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes overlay-slide-out-top {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

.overlay-slide-out-top {
  top: 0;
  height: 100%;
  -webkit-animation-name: overlay-slide-out-top;
  animation-name: overlay-slide-out-top; }

@-webkit-keyframes overlay-slide-in-bottom {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

@keyframes overlay-slide-in-bottom {
  0% {
    height: 100%; }
  100% {
    height: 0; } }

.overlay-slide-in-bottom {
  bottom: 0;
  height: 0;
  -webkit-animation-name: overlay-slide-in-bottom;
  animation-name: overlay-slide-in-bottom; }

@-webkit-keyframes overlay-slide-out-bottom {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes overlay-slide-out-bottom {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

.overlay-slide-out-bottom {
  bottom: 0;
  height: 100%;
  -webkit-animation-name: overlay-slide-out-bottom;
  animation-name: overlay-slide-out-bottom; }

@-webkit-keyframes overlay-slide-in-left {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes overlay-slide-in-left {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

.overlay-slide-in-left {
  width: 0;
  -webkit-animation-name: overlay-slide-in-left;
  animation-name: overlay-slide-in-left; }

@-webkit-keyframes overlay-slide-out-left {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes overlay-slide-out-left {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.overlay-slide-out-left {
  left: 0;
  width: 100%;
  -webkit-animation-name: overlay-slide-out-left;
  animation-name: overlay-slide-out-left; }

@-webkit-keyframes overlay-slide-in-right {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes overlay-slide-in-right {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

.overlay-slide-in-right {
  right: 0;
  width: 0;
  -webkit-animation-name: overlay-slide-in-right;
  animation-name: overlay-slide-in-right; }

@-webkit-keyframes overlay-slide-out-right {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes overlay-slide-out-right {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.overlay-slide-out-right {
  right: 0;
  width: 100%;
  -webkit-animation-name: overlay-slide-out-right;
  animation-name: overlay-slide-out-right; }

.vegas-wrapper,
.vegas-overlay,
.vegas-timer,
.vegas-slide,
.vegas-slide-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0; }

.vegas-overlay {
  opacity: .5;
  background: transparent url("overlays/02.png") center center repeat; }

.vegas-timer {
  top: auto;
  bottom: 0;
  height: 2px; }

.vegas-timer-progress {
  width: 0%;
  height: 100%;
  background: white;
  transition: width ease-out; }

.vegas-timer-running .vegas-timer-progress {
  width: 100%; }

.vegas-slide,
.vegas-slide-inner {
  margin: 0;
  padding: 0;
  background: transparent center center no-repeat;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity; }

body .vegas-container {
  overflow: hidden !important;
  position: relative; }

.vegas-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; }

body.vegas-container {
  overflow: auto;
  position: static;
  z-index: -2; }

body.vegas-container > .vegas-timer,
body.vegas-container > .vegas-overlay,
body.vegas-container > .vegas-slide {
  position: fixed;
  z-index: -1; }

/* Target Safari IOS7+ in order to add 76px */
/*******************************************/
/* blur transition */
/*******************************************/
.vegas-transition-blur,
.vegas-transition-blur2 {
  opacity: 0;
  -webkit-filter: blur(32px) brightness(1.01);
  filter: blur(32px) brightness(1.01); }

.vegas-transition-blur-in,
.vegas-transition-blur2-in {
  opacity: 1;
  -webkit-filter: blur(0px) brightness(1.01);
  filter: blur(0px) brightness(1.01); }

.vegas-transition-blur2-out {
  opacity: 0; }

/*******************************************/
/* burn transition */
/*******************************************/
.vegas-transition-burn,
.vegas-transition-burn2 {
  opacity: 0;
  -webkit-filter: contrast(1000%) saturate(1000%);
  filter: contrast(1000%) saturate(1000%); }

.vegas-transition-burn-in,
.vegas-transition-burn2-in {
  opacity: 1;
  -webkit-filter: contrast(100%) saturate(100%);
  filter: contrast(100%) saturate(100%); }

.vegas-transition-burn2-out {
  opacity: 0;
  -webkit-filter: contrast(1000%) saturate(1000%);
  filter: contrast(1000%) saturate(1000%); }

/*******************************************/
/* fade transition */
/*******************************************/
.vegas-transition-fade,
.vegas-transition-fade2 {
  opacity: 0; }

.vegas-transition-fade-in,
.vegas-transition-fade2-in {
  opacity: 1; }

.vegas-transition-fade2-out {
  opacity: 0; }

/*******************************************/
/* flash transition */
/*******************************************/
.vegas-transition-flash,
.vegas-transition-flash2 {
  opacity: 0;
  -webkit-filter: brightness(25);
  filter: brightness(25); }

.vegas-transition-flash-in,
.vegas-transition-flash2-in {
  opacity: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1); }

.vegas-transition-flash2-out {
  opacity: 0;
  -webkit-filter: brightness(25);
  filter: brightness(25); }

/*******************************************/
/* negative transition */
/*******************************************/
.vegas-transition-negative,
.vegas-transition-negative2 {
  opacity: 0;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.vegas-transition-negative-in,
.vegas-transition-negative2-in {
  opacity: 1;
  -webkit-filter: invert(0);
  filter: invert(0); }

.vegas-transition-negative2-out {
  opacity: 0;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/*******************************************/
/* slideDown transition */
/*******************************************/
.vegas-transition-slideDown,
.vegas-transition-slideDown2 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.vegas-transition-slideDown-in,
.vegas-transition-slideDown2-in {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

.vegas-transition-slideDown2-out {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/*******************************************/
/* slideLeft transition */
/*******************************************/
.vegas-transition-slideLeft,
.vegas-transition-slideLeft2 {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.vegas-transition-slideLeft-in,
.vegas-transition-slideLeft2-in {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.vegas-transition-slideLeft2-out {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

/*******************************************/
/* slideRight transition */
/*******************************************/
.vegas-transition-slideRight,
.vegas-transition-slideRight2 {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.vegas-transition-slideRight-in,
.vegas-transition-slideRight2-in {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.vegas-transition-slideRight2-out {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

/*******************************************/
/* slideUp transition */
/*******************************************/
.vegas-transition-slideUp,
.vegas-transition-slideUp2 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

.vegas-transition-slideUp-in,
.vegas-transition-slideUp2-in {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

.vegas-transition-slideUp2-out {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

/*******************************************/
/* swirlLeft transition */
/*******************************************/
.vegas-transition-swirlLeft,
.vegas-transition-swirlLeft2 {
  -webkit-transform: scale(2) rotate(35deg);
  transform: scale(2) rotate(35deg);
  opacity: 0; }

.vegas-transition-swirlLeft-in,
.vegas-transition-swirlLeft2-in {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1; }

.vegas-transition-swirlLeft2-out {
  -webkit-transform: scale(2) rotate(-35deg);
  transform: scale(2) rotate(-35deg);
  opacity: 0; }

/*******************************************/
/* swirlRight transition */
/*******************************************/
.vegas-transition-swirlRight,
.vegas-transition-swirlRight2 {
  -webkit-transform: scale(2) rotate(-35deg);
  transform: scale(2) rotate(-35deg);
  opacity: 0; }

.vegas-transition-swirlRight-in,
.vegas-transition-swirlRight2-in {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1; }

.vegas-transition-swirlRight2-out {
  -webkit-transform: scale(2) rotate(35deg);
  transform: scale(2) rotate(35deg);
  opacity: 0; }

/*******************************************/
/* zoomIn transition */
/*******************************************/
.vegas-transition-zoomIn,
.vegas-transition-zoomIn2 {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0; }

.vegas-transition-zoomIn-in,
.vegas-transition-zoomIn2-in {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.vegas-transition-zoomIn2-out {
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0; }

/*******************************************/
/* zoomOut transition */
/*******************************************/
.vegas-transition-zoomOut,
.vegas-transition-zoomOut2 {
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0; }

.vegas-transition-zoomOut-in,
.vegas-transition-zoomOut2-in {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.vegas-transition-zoomOut2-out {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0; }

/*******************************************/
/* kenburns animation */
/*******************************************/
.vegas-animation-kenburns {
  -webkit-animation: kenburns ease-out;
  animation: kenburns ease-out; }

@-webkit-keyframes kenburns {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes kenburns {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*******************************************/
/* kenburnsDownLeft animation */
/*******************************************/
.vegas-animation-kenburnsDownLeft {
  -webkit-animation: kenburnsDownLeft ease-out;
  animation: kenburnsDownLeft ease-out; }

@-webkit-keyframes kenburnsDownLeft {
  0% {
    -webkit-transform: scale(1.5) translate(10%, -10%);
    transform: scale(1.5) translate(10%, -10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsDownLeft {
  0% {
    -webkit-transform: scale(1.5) translate(10%, -10%);
    transform: scale(1.5) translate(10%, -10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsDownRight animation */
/*******************************************/
.vegas-animation-kenburnsDownRight {
  -webkit-animation: kenburnsDownRight ease-out;
  animation: kenburnsDownRight ease-out; }

@-webkit-keyframes kenburnsDownRight {
  0% {
    -webkit-transform: scale(1.5) translate(-10%, -10%);
    transform: scale(1.5) translate(-10%, -10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsDownRight {
  0% {
    -webkit-transform: scale(1.5) translate(-10%, -10%);
    transform: scale(1.5) translate(-10%, -10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsDown animation */
/*******************************************/
.vegas-animation-kenburnsDown {
  -webkit-animation: kenburnsDown ease-out;
  animation: kenburnsDown ease-out; }

@-webkit-keyframes kenburnsDown {
  0% {
    -webkit-transform: scale(1.5) translate(0, -10%);
    transform: scale(1.5) translate(0, -10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsDown {
  0% {
    -webkit-transform: scale(1.5) translate(0, -10%);
    transform: scale(1.5) translate(0, -10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsLeft animation */
/*******************************************/
.vegas-animation-kenburnsLeft {
  -webkit-animation: kenburnsLeft ease-out;
  animation: kenburnsLeft ease-out; }

@-webkit-keyframes kenburnsLeft {
  0% {
    -webkit-transform: scale(1.5) translate(10%, 0);
    transform: scale(1.5) translate(10%, 0); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsLeft {
  0% {
    -webkit-transform: scale(1.5) translate(10%, 0);
    transform: scale(1.5) translate(10%, 0); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsRight animation */
/*******************************************/
.vegas-animation-kenburnsRight {
  -webkit-animation: kenburnsRight ease-out;
  animation: kenburnsRight ease-out; }

@-webkit-keyframes kenburnsRight {
  0% {
    -webkit-transform: scale(1.5) translate(-10%, 0);
    transform: scale(1.5) translate(-10%, 0); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsRight {
  0% {
    -webkit-transform: scale(1.5) translate(-10%, 0);
    transform: scale(1.5) translate(-10%, 0); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsUpLeft animation */
/*******************************************/
.vegas-animation-kenburnsUpLeft {
  -webkit-animation: kenburnsUpLeft ease-out;
  animation: kenburnsUpLeft ease-out; }

@-webkit-keyframes kenburnsUpLeft {
  0% {
    -webkit-transform: scale(1.5) translate(10%, 10%);
    transform: scale(1.5) translate(10%, 10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsUpLeft {
  0% {
    -webkit-transform: scale(1.5) translate(10%, 10%);
    transform: scale(1.5) translate(10%, 10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsUpRight animation */
/*******************************************/
.vegas-animation-kenburnsUpRight {
  -webkit-animation: kenburnsUpRight ease-out;
  animation: kenburnsUpRight ease-out; }

@-webkit-keyframes kenburnsUpRight {
  0% {
    -webkit-transform: scale(1.5) translate(-10%, 10%);
    transform: scale(1.5) translate(-10%, 10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsUpRight {
  0% {
    -webkit-transform: scale(1.5) translate(-10%, 10%);
    transform: scale(1.5) translate(-10%, 10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

/*******************************************/
/* kenburnsUp animation */
/*******************************************/
.vegas-animation-kenburnsUp {
  -webkit-animation: kenburnsUp ease-out;
  animation: kenburnsUp ease-out; }

@-webkit-keyframes kenburnsUp {
  0% {
    -webkit-transform: scale(1.5) translate(0, 10%);
    transform: scale(1.5) translate(0, 10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

@keyframes kenburnsUp {
  0% {
    -webkit-transform: scale(1.5) translate(0, 10%);
    transform: scale(1.5) translate(0, 10%); }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); } }

.modal__overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAEUlEQVQoz2NgeEYAjioYSQoAzOTmAXhPhyoAAAAASUVORK5CYII=);
  z-index: 199;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  align-items: center;
  justify-content: center; }

.modal__container {
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  width: 95%;
  max-width: 1000px;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
  z-index: 100;
  margin: 10px; }
  @media (min-width: 768px) {
    .modal__container {
      padding: 10px 30px 30px 30px;
      width: auto; } }
  @media (min-width: 992px) {
    .modal__container {
      padding: 20px 60px 60px 60px; } }
  .modal__container--fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0; }
  .modal__container--video {
    background: #000;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.modal__content {
  text-align: left;
  white-space: normal;
  max-width: 1000px;
  margin: auto;
  font-size: 1.4vw; }

.modal__header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 70px; }

.modal__close {
  position: absolute;
  z-index: 2;
  right: -40px;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  border: 0;
  color: #212121;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  padding: 3px 0 0 0; }
  @media (min-width: 992px) {
    .modal__close {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 60px; } }

.modal__container .modal__close:before {
  content: "\2715"; }

.modal__container--video .modal__close {
  background-color: #000; }
  @media (min-width: 992px) {
    .modal__container--video .modal__close {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 50px; } }

.modal__container--video .modal__close:before {
  color: #fff; }

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes mmscaleIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes mmscaleIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes mmscaleOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes mmscaleOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(0);
            transform: scale(0); } }

.micromodal-slide {
  display: none; }

.micromodal-slide.is-open {
  display: block; }

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn 0.2s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.2s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmscaleIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmscaleIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut 0.2s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.2s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmscaleOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmscaleOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform; }

.margin-none {
  margin: 0; }

.padding-none {
  padding: 0; }

.border-none {
  border: none; }

.no-border-top {
  border-top: none; }

.no-border-bottom {
  border-bottom: none; }

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.overflow-hidden {
  overflow: hidden; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.text-bold {
  font-weight: 700; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-italic {
  font-style: italic; }

.text-underline {
  text-decoration: underline; }

.text-nowrap {
  white-space: nowrap; }

.highlighter {
  background-color: yellow; }

.color-brand {
  color: #0089a2;
  fill: #0089a2; }

@media (min-width: 768px) {
  .float-left-desktop {
    float: left; }
  .float-right-desktop {
    float: right; }
  .padding-none-desktop {
    padding: 0; } }
