.button {
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
    padding: .5vw;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #17c0dc;
    color: #FFF;
    border: 0;
    text-decoration: none;
    box-shadow: .4vw .4vw 0px 0px rgba(13,136,160,1);
    &:hover {
        background-color: #00779b;
    }
    &:active {
        background-color: $brand-alt-color;
        color: $secondary;
        box-shadow: .4vw .4vw 0px 0px rgba(216, 83, 0,1);
    }
    @include breakpoint(large) {
      font-size: 1em;
    }
    &--inline {
        width: 100%;
        height: auto;
        text-align: center;
        box-shadow: none;

        
    }
}