

// new layout //
.calendar-card {
    pointer-events: none;
    position: relative;
    display: block;
    padding: 10px 100px 10px 25px;
    cursor: pointer;
    color: #212121;
    text-decoration: none;
    text-align: left;
    background-color: #fff;
    transition: background-color .3s;
    border-top: 0;
    border-bottom: 1px solid $shade-medium-color;
    border-left: 1px solid $shade-medium-color;
    border-right: 1px solid $shade-medium-color;
    width: 100%;
    z-index:1;
    font-size: 1vw;
    @include clearfix;
    &:focus {
        z-index: 100;
        outline-offset: 0;
    }
    &--unavailable {
        background-color: #fff;
        color: $shade-dark-color;
        &:before {
            display: none;
        }
         & .calendar-card__status {
            color: #212121;
        }
    }
    &--logged-out {
        color:$shade-dark-color;
    }

    // what are these?
    &--static {
        cursor:auto;
        &:active {
            background-color: $shade-light-color;
        }
        &:before {
            display: none;
        }
    }
    &--waiting-list {
        background-color: lighten( $brand-secondary-color, 40%);
        color: darken( $brand-dark-color, 10%);
        &:before {
            color: $brand-color;
        }
    }
    &--preview {
        border: 1px solid darken( $shade-color, 10%);
    }
    &--cancelled {
        background-color: $error;
        cursor: default;
        color: $primary;
        & .calendar-card__time,
        & .calendar-card__date {
            color: $primary;
        }
    }
    &--head {
        display: none;
    }
    //booked class
    &--booked {
        background-color: $brand-color;
        color: $primary;
        & .calendar-card__time {
            color: $primary;
        }
        &:hover {
            background-color: $brand-dark-color;
        }
        &:active {
            background-color: darken( $brand-dark-color, 3% );
        }
        @include breakpoint(medium) {
            &:hover .calendar-card__class {
                color: $secondary;
            }
        }
    }
    // summary of booked classes in members area
    &--summary {
        padding: 10px 10px 10px 25px;
    }
}

.calendar-card__overlay,
.calendar-card:active .calendar-card__overlay {
    display: none;
}
.calendar-card--head {
        background-color: #004e51;
        color: $primary;
        cursor: default;
        font-weight: 700;
        font-size: .8rem;
    }

.calendar-card__class {
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: 3px;
    z-index: 100;
}

.calendar-card__time,
.calendar-card__duration {
    font-weight: 500;
    color: $brand-color;
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 2px;
    width: auto;
    border: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

.calendar-card--booked .calendar-card__time,
.calendar-card--booked .calendar-card__duration {
    color: $primary;
}


.calendar-card--unavailable .calendar-card__time,
.calendar-card--unavailable .calendar-card__duration {
    color: $shade-medium-color;
}
.calendar-card__class,
.calendar-card__date,
.calendar-card__gym,
.calendar-card__instructor,
.calendar-card__location,
.calendar-card__status,
.calendar-card__waiting-list {
    margin-left: 0;
    margin-bottom: 2px;
    font-style:normal; 
    line-height: 1;
}
.calendar-card__location {
    position: relative;
    display: block;
}
.calendar-card__instructor {
    position: relative;
    display: inline-block;
}

.calendar-card__duration {
    margin-left: 3px;
    &:before {
            content: '(';
            display:inline-block;
        }
        &:after {
            content: ')';
            display:inline-block;
        }
}

.calendar-column .calendar-column__title {
    margin-top:0;
}

.calendar-card__status {
    display: none;
}


.calendar-card__text {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    position: absolute;
    padding: 2px 10px;
    top: 0;
    right: 0;
    margin: 0;
    white-space: nowrap;
    font-weight: 400;
    &--limited {
        color: $error ;
    } 
    &--waiting-list {

    }
    &--course {
        background-color: $secondary;
        color: $primary;
    }
    &--booked,
    &--on-waiting-list {
        background-color: $brand-color;
        color: $primary;
        &::before {
            content: '\2714';
            font-family: "pureicon";
            font-weight: 400;
            margin-right: 5px;
            display: inline;
           font-size: 1.5rem;
            text-align: center;
            line-height: 1;
        }
    }
}




// booked class summary changes

.calendar-card--summary {
    padding: 0 0 10px 15px;
    & .calendar-card__class,
    & .calendar-card__time,
    & .calendar-card__gym,
    & .calendar-card__location
    { padding-left: 10px; }
    & .calendar-card__location {
        display: inline-block;
        &:after {
            display: inline-block;
            content: "-";
            padding-left: 5px;
        }
    }
}

.calendar-card__date {
    width: 100%;
    font-weight: 700;
    padding: 0;
    margin-bottom: 5px;
}

// new layout - grid-view

@media (min-width: $medium-width) {
    .calendar--grid .calendar-card { 
        display: block;
        padding: 15px 5px 5px 5px;
        min-height: 100px;
        text-align: center;
        overflow-x: hidden;
        &:before {
            display: none;
        }
        &--cardio,
        &--learnthebasics,
        &--sculpttone,
        &--mindbody,
        &--functional,
        &--unavailable {
            & .calendar-card__class {
                padding-bottom:3px;
    
            }
        }
    }
    .calendar--grid .calendar-card--booked:hover {
        & .calendar-card__class {
            color: $primary;
        }
    }
    .calendar--grid .calendar-card:before {
        display: none;
    }
    .calendar--grid .calendar-card__class {
        position: relative;
        margin-top: 0;
        margin-left: auto;
       font-size: 1.1vw;
    }
    .calendar--grid .calendar-card__time {
        position: relative;
        width: auto;
        border-right: none;
        display: inline-block;
        padding: 0;
        height: auto;
    }
    .calendar--grid .calendar-card__duration {
        position: relative;
        width: auto;
        border-right: none;
        display: inline-block;
        margin-top: 5px;
        margin-left: 3px;
    
    }
    .calendar--grid .calendar-card__instructor {
        display: block;
        margin-left: auto;
        position: relative;
        margin-top:3px;
        z-index: 100;
    }
    .calendar--grid .calendar-card__location {
        display: none;
    }
    .calendar--grid .calendar-card__text {
        width: 100%;
        position: relative;
        display: block;
        height: auto;
    }

}

