// A containing block for the class calendars. The modifiers here will cascade down and alter the way other blocks look (knowingly breaking BEM ) so that we can switch between grid and list view without having to change the HTML code of the page beyod the containing class.
// Works alongside .calendar-column and .calendar-card to structure the classes.
// Status: up to date

.calendar {
    width: 100%;
    margin-bottom: 10px;
    @include clearfix;
    @include breakpoint(small) {
       margin-bottom: 20px;
    }
    &--grid {
        display: flex;
    }
    &--list {
 
    }
    &--booked {
        padding-left:10px;
        padding-right: 10px;
    }
}