// Class booking blocks. tablet and above dictated by the containing grid or list classes.
.calendar-column {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-left:0;
    padding-right: 0;
    &--hidden {
        display: none;
    }
}

.calendar-column__title {
    background-color: $brand-color;
    color: #FFF;
    margin-top: 15px;
    font-size: 1.2vw;

}
.calendar-column .calendar-column__title {
    position: sticky;
    z-index: 102;
    padding: 5px;
    top:0;

}

.calendar-column__head {
    display: none;
}

/* Display for tablet and above, split into two versions, grid and list views - dictated by the containing calendar block */
@media (min-width: $medium-width) {

    //set the columns
   .calendar--grid .calendar-column {
       flex-basis: 0;
       flex-grow:1;
        padding-left: 5px;
        padding-right: 5px;
    
   
    }
      
     //set day title styles
    .calendar--grid .calendar-column__title {
        margin-top: 10px;
    }
    //set the head visibility
    .calendar--grid .calendar-column__head {
        display: none;
    }
}

