.class-list {
    display: flex;
    justify-content: flex-start;

    padding: 2vw;
    margin: 0;
    z-index: 8;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1vw;
    list-style-type: none; 
}

.class-list__item {
    display: block;
    position: relative;
    width: 13%;
    margin-right:1%;
    margin-bottom: 24px;
}