// Equal height blocks regardless of content amount, Used on the homepage to highlight key USPs and also on PT profile pages. This could probably be retired and replaced with flex-block instead to reduce code. 
.row {    
    margin: 0 -10px;
}

.equal-height {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    line-height: 1.6;
}

.equal-height__cell {
        /* boxes used on the PT profile page to show qualifications */
        border-top: 2px solid #0089a2;
        text-align: left;
        padding-top: .6vw;
        margin: .6vw .6vw 0 .6vw;
        box-shadow: 0 0 0 0;
        background-color:white;
        @include breakpoint(small) {
            flex: 1;
            & .heading {
                padding: 0;
            }
        }
    
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        min-height: 120px; /* included to fix height in IE */
    }
}

.equal-height__heading {
    flex: 1;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        min-height: 50px; /*included to fix height in IE */
    }
}

.equal-height__content,
.equal-height__text {
    flex-grow: 1;
    padding: 0;
    margin: 0 0 10px 0;
    @include breakpoint(small) {
        margin: 0 0 20px 0;
    }
}

.equal-height__fixed-bottom {
    width: 100%;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        min-height: 60px; /* included to fix height in IE */
    }
}