// flexbox equal height elements, with set percentage widths (so no flexing horizontally).
.gym-trainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2vw;
    z-index: 8;
    width: 65vw;
    height: 50vw;
    flex-wrap: wrap;
    font-size: .9vw;
}

.gym-trainer__item {
    width: 24%;
    margin-right:1%;
    padding: 1.2vw;
    background-color: white;
    box-shadow: 0px 10px 10px -10px #000;
    margin-bottom: 1vw;
    text-align: center;
    border: 0;
    &--team {
        width:32%;
        text-align:left; 
    }
}

.gym-trainer__content {
    margin: 0 0 10px 0;
    padding: 0;
}
.gym-trainer__portrait {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 70%;
    height: auto;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 10px auto;

}

.gym-trainer__item--team .gym-trainer__portrait {
    width: 50%;
}

.gym-trainer__name {
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    width: 100%;
    margin-top: 10px; 
    text-align: center;
    text-transform: uppercase;
}


.gym-trainer__item--team .gym-trainer__name {

    font-size: 1.4vw;
}


.gym-trainer__phone,
.gym-trainer__email {
    margin-bottom: 10px;
}

.gym-trainer__email {
    display: none;
}