
// Lists
.list {
    position: relative;
    color: $secondary;
    margin: 0 0 20px 0;
    font-size: 1vw;
    line-height: 1.2;
    list-style-type: none;
    padding-left: 25px;
    &--inverted {
        color: white;
    }
    &--disc {
        list-style-type: disc;
    }
    &--ordered {
        list-style-type: decimal;
    }
    &--numbered {
        padding-left: 1.7em;
        list-style-type: none;
        text-align: left;
        line-height: 1.6;
    } 
    &--padding-none,
    &--definition,
    &--pure-loser {
        padding-left: 0;
    }
}

.list__item {
    position: relative;
    margin: 0 0 .3vw 0;
    line-height: 1.2;
}

.list--bullet .list__item {
    &:before {
        position: absolute;
        left: -20px;
        content: "• ";
        color: $brand-color;
        font-size: 2em;
        line-height: .7;
    }
}

.list--inverted-bullet .list__item {
    &:before {
        position: absolute;
        left: -20px;
        content: "• ";
        color: $primary;
        font-size: 2em;
        line-height: .7;
    }
}
.list--check .list__item {
    &:before {
        position: absolute;
        left: -20px;
        content: '\2714';
        font-family: "pureicon";
        width: 20px;
        font-size: 1.1em;
        line-height: 1.1;
        color: $brand-light-color;
    }
}



.list__title {
    font-size: 1vw;
    margin-bottom: 1px;
    color: $shade-dark-color;
    &:after {
        content: ": ";
    }
    &--inline {
        @include breakpoint(small) {
            float: left;
            clear: left;
            width: 25%;
            margin-top: 2px;
        }
    }
    &--opening-hours {
        float: left;
        clear: left;
        width: 55%;
    }
    &--inverted {
        color: $primary;
    }
    &--classes {
        display: inline;
        color: $primary;
    }
}

.list__desc {
    margin: 0;
    opacity: 1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transition: max-height 0.4s, opacity 0.2s linear;
    border-bottom: 1px solid $shade-color;
    &--closed {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
    &--staff {
       font-size: 1vw;
    }
    &--inverted {
        color: $primary;
        border-bottom: 1px dashed lighten( $brand-secondary-color, 20%);
    }
    &--classes {
        display: inline;
        color: $primary;
    }
    &--last {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


