// https://micromodal.now.sh/   new JS based modal code, replacing CSS ones eventually as and when we can on site.
.modal {
}

.modal__overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAEUlEQVQoz2NgeEYAjioYSQoAzOTmAXhPhyoAAAAASUVORK5CYII=);
    z-index: 199;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.modal__container {
    background-color: #fff;
    padding: 10px 20px 20px 20px;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    width: 95%;
    max-width: 1000px;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    background: $primary;
    z-index: 100;
    margin: 10px;
    @include breakpoint(small) {
        padding: 10px 30px 30px 30px;
        width: auto;
    }
    @include breakpoint(medium) {
        padding: 20px 60px 60px 60px;
    }
    &--fullscreen {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        margin:0;
    }
    &--video {
        background: #000;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        padding: 0;
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.modal__content {
    text-align: left;
    white-space:normal;
    max-width: 1000px;
    margin: auto;
    font-size: 1.4vw;
}

.modal__header {
    position: sticky;
    z-index: 10;
    top:0;
    left: 0;
    right: 0;
    height: 70px;
}

.modal__close {
    position: absolute;
    z-index: 2;
    right: -40px;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    border: 0;
    color: $secondary;
    cursor: pointer;
    text-align: center;
    background: $primary;
    padding: 3px 0 0 0;
    @include breakpoint(medium) {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 60px;
    }
}


.modal__container .modal__close:before {
    content: "\2715";
}
.modal__container--video .modal__close {
    background-color: #000;
    @include breakpoint(medium) {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 50px;
    }
}
.modal__container--video .modal__close:before {
    color: #fff;
}


@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmscaleIn {
  from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes mmscaleOut {
    from { transform: scale(1); }
      to { transform: scale(0); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmscaleIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmscaleOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
