.nav-button {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    width: 42vw;
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(4, 8vw);
    grid-gap: 2.5vw;
    z-index:3;
    &--classes {
         grid-template-columns: repeat(4, 8vw);
         grid-template-rows: repeat(2, 8vw);   
    }
}

.nav-button__item {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    text-align: left;

}

.nav-button__link  {
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 1;
    padding: 1.5vw;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #17c0dc;
    color: #FFF;
    text-decoration: none;
        box-shadow: .6vw .6vw 0px 0px rgba(13,136,160,1);
    &:hover {
        background-color: #5dd3e6;
    }
    &:active {
        background-color: $brand-alt-color;
        color: $secondary;
        box-shadow: .6vw .6vw 0px 0px rgba(216, 83, 0,1);
    }
    @include breakpoint(large) {
      font-size: 3vw;
    }
    
}