.page {
    background-color: #ffffff;
    margin: 0;
    font-size: 1.5vw;
}

.page__index-content {
    display: block;
    width: 100vw;
    height: 100vh;
}

.page__home-content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 35vw 65vw;
    grid-gap: 0;
    background-color: #293033;
    overflow: hidden;
}

.page__content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-gap: 0;
    background-color: #293033;
    overflow: hidden;
}

.page__home-info,
.page__back {
    text-align: right;
    background-color: #ffffff;
    height: 100vh;
    padding: 3vw; 
}

.page__back {
display: flex;
}

.page__home-menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__pt-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25vw 65vw;
}

.page__class-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 90vw;
}



.page__premium {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65vw 25vw;
    background-color: $brand-premium-color;
 //   background-image: -webkit-linear-gradient(250deg,#72c8d8 29.5%,#009eb2 90%);
}

#background {
	background: url(../../images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
}

#midground {
	background: url(../../images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
}

#foreground {
	background: url(../../images/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 2;
}

