.premium {
    display: block;
    width: 65vw;
    padding: 2vw;
}

.premium__packages {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
}

.premium__package {
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 32%; 
    font-size: 1.1vw;
    margin-top: 6vw;
    padding-top: 4vw;
}

.premium__roundel {
    position:absolute; 
    top: -8vw;
}

.premium__para {
    margin: .5vw 1.5vw;
    flex-grow: 1;
}