.qualifications {
    
}

.qualifications__title {
    display: block;
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    color: #0089a2;
    text-transform: uppercase;
    font-size: 1vw;
    line-height: 1;
    margin: 0 0 .5vw 0;
    font-weight: 300;
}


.qualifications__list {
    position: relative;
    color: #212121;
    margin: 0;
    font-size: .9vw;
    line-height: 1.2;
    list-style-type: none;
    padding-left: 10px;
}

.qualifications__list-item {
    margin-bottom: 3px;
        &:before {
        position: absolute;
        left: -4px;
        content: "• ";
        color: #0089a2;
        font-size: 1vw;
        line-height: 1;
    }
}