// tiles used to show and browse to other classes, with an image and the clas feature icons included. Inherits colours from session-override. 
.session-tile {
    background-color: white;
    box-shadow: 0px 20px 30px -10px #000;
    padding: 0;
    border: 0;
}


.session-tile__figure {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}


.session-tile__title {
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    font-size: 1.2vw;
   text-transform: uppercase;
    margin: 10px 1.2vw;
    transition: transform 0.2s ease-out;
        font-weight: 400;
}

.session-tile__image-holder {
    position: relative;
    display: block;  
    overflow: hidden;
    height: 190px;
}

.session-tile__image {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
}

.session-tile__cta {
    padding: 1.2vw;
    display: block;
    position: relative;
    min-height:2vw;
}

.session-tile__category {
    width: 100%;
    margin: 0;
    padding: 5px 1.2vw;
    line-height: 1;
    font-size: .8vw;
    background-color: $secondary;
    text-transform: uppercase;
}