// applied as a wrapper for various class items, this will break BEM and add brand colours to its children in one fell swoop. This allows us to control all of the brand styling from this single file.
.session-override {
    &--sculpt-tone {
        //style breadcrumbs on a class detail page

        & .session-icons__svg {
            fill: $sculpttone-solid;
        }
        & .session-category,
        & .session-specs {
            color: $primary;
        }
        & .page__content--override .heading,
        & .session-category__title {
            color: $sculpttone-text;
        } 
        // tint the map on the class details page
        & .page__content--map {
            background-color: rgb(185, 203, 219); // Tint color
            background-blend-mode: luminosity;
        }
        & .session-icons__title,
        & .heading--override {
            color: $sculpttone-solid;
        } 
        & .session-tile__category {
            background-color: $sculpttone-solid;
            color: $primary;
        }
    }

    &--mind-body {


        & .session-icons__svg {
            fill: $mindbody-solid;
        }
        & .session-category,
        & .session-specs {
            color: $primary;
        }
        & .session-category__title,
        & .page__content--override .heading {
            color: $mindbody-text;
            
        }
        & .page__content--map {
            background-color: #8fbfbd; // Tint color
            background-blend-mode: hard-light;
        }
        & .session-icons__title,
        & .heading--override {
            color: $mindbody-solid;
        }
        & .session-tile__image-holder::before {
            background: linear-gradient(to bottom, rgba(155, 205, 201, 0%), rgba(155, 205, 201, 0.3) 75%);
        }
        .session-category__cta {
            border: 1px solid $primary;
        }
        & .session-tile__category {
            background-color: $mindbody-solid;
            color: $primary;
        }

    }
    &--cardio {

    
        & .session-icons__svg {
            fill: $cardio-solid;
        }
        & .session-category,
        & .session-specs {
            color: $secondary;
        }
        & .session-specs__item {
            border-color: #de1b1b;
        }
        & .page__content--override .heading {
            color: $cardio-text;
        
        }
        & .page__content--map {
            background-color: #e2c4c1; // Tint color
            background-blend-mode: color-burn;
        }
        & .session-icons__title,
        & .heading--override {
            color: $cardio-solid;
        }
        & .session-tile__image-holder::before {
            background: linear-gradient(to bottom, rgba(241, 96, 90, 0%), rgba(241, 96, 90, 0.3) 75%);
        }
        & .modal-close:after {
            color: $secondary;
        }
        & .session-tile__category {
           background-color: $cardio-solid;
            color: $primary;
        }

    }
    &--functional {

        & .session-icons__svg {
            fill: $functional-solid;
        }
        & .session-category,
        & .session-specs {
            color: $functional-text;
        }
        & .session-specs__item {
            border-color: #989898;
        }
        & .page__content--override .heading {
            color: $functional-text;
        }
        & .page__content--map {
            background-color: #646464; // Tint color
            background-blend-mode: color-burn;
        }
        & .session-icons__title,
        & .heading--override {
            color: $functional-solid;
        }
        & .session-tile__image-holder::before {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0.3) 75%);
        }
        .session-category__cta {
            border: 1px solid $primary;
        }
        & .modal-close:after {
            @include breakpoint(extra-small) {
                color: $primary;
            }
        }
      & .session-tile__category {
           background-color: $secondary;
            color: $primary;
        }
    }
   
}
