.session-icons {
    position: absolute;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    width: 100%;
    &--small {
        top: -26px;
        min-height: 76px;
        left: 0;
    }
}

.session-icons__icon {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 10px;
    flex-grow: 0;
    width: 33%;
}

.session-icons__title {
   // position: absolute;
    width: 100%;
  font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 0.6vw;
    margin: 0;
    padding-top:3px;
}

.session-icons__roundel {
    display: flex;
    border-radius: 50%;
    border: 1px solid $shade-color;
    width: 36px;
    height: 36px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: $primary;
}

.session-icons__svg {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
}
