.text {
    font-size: 2vw;
    line-height: 1.3;
}
.text--small {
    font-size: 1.3vw;
    margin: 0 0 2vw 0;
}
.text--x-small {
    font-size: 1.1vw;
    margin: 0 0 2vw 0;
}

.text--large {
    display: inline-block;
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    margin: 0;
}

.text--very-large {
    display: block;
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 1;
    margin: 0;
}

.text--header {
    display: block;
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1;
    margin: 0 0 1vw 0;
    font-weight: 300;
}

.text--small-header {
    display: block;
    font-family: 'FFDINCondensedBlack', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1;
    margin: 0 0 .5vw 0;
    font-weight: 300;
}

.text--left {
    text-align: left;
}

.text--2col {
    column-count: 2;
}

.text--3col {
    column-count: 3;
}

.text--temporary {
    margin: 30px;
    font-size: 2rem;
    color: #FFF;
    text-align:center;
}
.text--center {
    text-align:center;
}