// Some things are so obvious and wide-ranging that it makes no sense to restrict them to BEM. Generic margin, padding and float fixes.
// MARGIN
.margin-none {
    margin: 0;
}

// PADDING
.padding-none {
    padding: 0;
}

//BORDER
.border-none {
    border: none;
}

.no-border-top {
    border-top: none;
}

.no-border-bottom {
    border-bottom: none;
}


.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// FLOATS
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overflow-hidden {
    overflow: hidden;
}

// HEIGHT 
.full-height {
    height: 100%;
}

// WIDTH 
.full-width {
    width: 100%;
}

.text-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-nowrap {
    white-space: nowrap;
}


.highlighter {
    background-color: yellow;
}

.color-brand {
    color: $brand-color;
    fill: $brand-color;
}

@media (min-width: $small-width) {
    .float-left-desktop {
        float: left;
    }
    .float-right-desktop {
        float: right;
    }
    .padding-none-desktop {
        padding: 0;
    }
}

