.video {
    top: 0;
    display: block;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &--inline {
        height: 500px;
    }
}

.video__holder,
.video__iframe {
    position: absolute;
    display: block;
    z-index: 1;
    height:100%;
    width: 100%;
    @include breakpoint(small) {
        height: 100%;
        width: 110%;
        left: -5%;
        top: 0;
        pointer-events: none;
    }
}

.video--inline .video__iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events:all;
}

.video__content {
    background-color: rgba(12, 12, 12, 0.5);
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: left;
}