
/* brand-defined colours */
$brand-color:             #0089a2;
$brand-light-color:       #49b9bc;
$brand-lightest-color:    #17c0dc;
$brand-dark-color:        #2e373b;
$brand-secondary-color:   #4a4a4a;
$brand-alt-color:         #ffd100;
$brand-alt2-color:        #14b881;
$brand-alt3-color:        #dcdbdb;
$brand-bright-color:      #17c0dc;
$brand-premium-color:     #2F1681;

$accessible:              #3599ef;

/* 5(0) shades of grey */
$shade-darkest-color:     #484848;
$shade-dark-color:        #727272;
$shade-medium-color:      #B6B6B6;
$shade-color:             #E0E0E0;
$shade-light-color:       #F2F2F2;
$shade-lightest-color:    #FAFAFA;


/* New class categories */
$mindbody-solid:          #9bcdc9;
$mindbody-text:           #e4feff;
$sculpttone-solid:        #1a4b72;
$sculpttone-text:         #00D5DA;
$cardio-solid:            #f1605a;
$cardio-text:             #212121;
$functional-solid:        #0d0d0d;
$functional-text:         #ffffff;
$induction-solid:         #f2f2f2;
$induction-text:          #212121;

$facebook:                #3b5998;
$twitter:                 #1DA1F2;
$strava:                  #fc4c02;

/* generic colours */
$primary:                 #ffffff;
$secondary:               #212121; /* black isn't really black, it's really really dark grey - this allows photos to look darker than brand colours */
$error:                   #d43047;
$success:                 #7fb9a4;

