
//Media queries - currently if these are changed, you need to manually update the responsive utilities file
$small-width: 768px;
$medium-width: 992px;
$large-width: 1200px;



/* Clearfix ensures that a container element clears all of its children, including floated ones. */
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


/* Allow us to include nested media queries */
$breakpoints: (
  'extra-small':  ( min-width:  475px ), //used on the chat modal to show the header
  'small':  ( min-width:  $small-width ),
  'medium': ( min-width:  $medium-width ),
  'large':  ( min-width:  $large-width ),
);
@mixin breakpoint($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}
